body {
  width: 100%;
  max-width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

main a,
footer a {
  text-decoration: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

address {
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  .reset();
}

textarea,
input,
button {
  font: inherit;
  border: none;
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.privacy_policy {    
	padding: 10px;
	border-top:3px solid #5CA94E;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 500;
    left: 0;
    right: 0;
    background: #ffffff;
}

.privacy_policy a {
	color: #5CA94E; 
	font-weight: bold;
}

.privacy_policy .button {
	color: #F95454;
	cursor: pointer;
}
