.promo {
  padding-top: 90px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  color: #170237;
  font-size: 20px;
  line-height: 1.55;
  overflow: hidden;
}
.promo__wrap {
  display: flex;
  justify-content: space-between;
}
.promo__img {
  width: 47.5%;
}
.promo__info {
  width: 49%;
  position: relative;
  z-index: 2;
}
.promo__title {
  margin-top: 0;
  margin-bottom: 26px;
  color: #170237;
  font-size: 41px;
  line-height: 1.35;
  font-weight: 700;
  
  span {
    color: #4430bf;
    overflow: hidden;
  }
}
.promo__subtitle {
  color: #170237;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.75;
}
.promo__btns {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 28px;
}
.promo__img {
  position: relative;
  z-index: 1;
  
  &::before {
    content: "";
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%,-50%) rotate(12deg);
    z-index: -1;
    width: 730px;
    height: 536px;
    background-image: url(../img/images/_1.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}
.promo__btn {
  margin-right: 20px;
}
.promo__comment {
  strong {
    font-weight: 700;
  }
  span {
    margin: 0 10px;
    padding: 0 5px;
    background-color: @green;
  }
}
.promo__popup {
  display: inline-block;
  vertical-align: text-bottom;
  width: 24px;
  height: 24px;
  background-image: url(../img/images/Enigma.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.promo__price,
.promo__btn {
  box-shadow: 0px 30px 18px 0px rgba(25, 28, 46, 0.2);
}
.promo__line {
  font-style: normal;
}
//.typewriter span {
//  overflow: hidden;
//  border-right: .15em solid #210e3e;
//  white-space: nowrap;
//  margin: 0 auto;
//  animation: 
//    typing 3.5s steps(30, end),
//    blink-caret .5s step-end infinite;
//}
//@keyframes typing {
//  from { width: 0 }
//  to { width: 100% }
//}
//@keyframes blink-caret {
//  from, to { border-color: transparent }
//  50% { border-color: #210e3e }
//}